#downloadbutton{
	height: 25px;
	width:80px;
	border-style: none;
	background-color: #5c7e10;
	color: #e5e4dc;
	float: left;
	text-align: center;
	font-family: 微软雅黑;
	font-size:12px;
}

#generalbutton{
	heigth:25px;
	width:40px;
	border-style: none;
	line-height: 25px;
	background-color:#171a21 ;
	color:#b8b6b4;
	float: left;
	text-align: center;
	font-family: 微软雅黑;
	font-size:0.85rem;
}

#logo{
	margin-left: 350px;
	margin-top: -25px;
	float: left;
}

.sidebartype{
	color: #c6d4df;
	margin-left: 0px;
	margin-top: 0px;
	font-size: 12px;
	list-style: none;
}

#text{
	list-style: none;
	line-style:none;
}

#link{
	font-size:14px;
	color:#66c0f4;
	line-height:20px;
}
#menubutton{
	font-size: 14px;
	color:#c6d4df;
	height: 40px;
	border-style:none;
	background-color:#377197 ;
}
#search{
	float:right;
	margin-top:5px;
}
#searchframe{
	margin-right: 10px;
	background: #326282;
	height:26px;
	border:1px solid #4c9acc;
	border-radius:5px;
	/*字体设定*/
	font-style: italic;
	font-size:16px;
	color:#264a62;
	/*搜索按钮的设置*/
	background-image: url(搜索按钮.png);
	background-repeat:no-repeat;
	background-position: right;
}
/*以下是切换图片的div*/
#images {
	width: 960px;
	height:475px;
    overflow: hidden;
    position: relative;
    margin:10px auto auto 27px;
}
#images img {
	width:960px;
	height:475px;
    position: absolute;
    top: 0;
    left: auto;
    z-index: 1;
    opacity: 1;
    transition: all linear 500ms;
    -o-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
}
#images img:target {
    left: 0;
    z-index: 9;
    opacity: 1;
}
#images img:first-child {
    left: 0;
}
#slider {
    width: 150px;
    height: 30px;
    margin: -10px auto;
}
#slider a {
    text-decoration: none;
    padding: 4px 6px;
    color: #c6d4df;
    margin:20px auto;
}
#slider a:hover {
    background: #C6E4F2;
}
#slider ul{
	list-style: none;
}
#slider li{
	float:left;
}

#button{
	 color:#c6d4df;
	 background-color:#164968;
	 border:1px solid #c6d4df;
	 float:right;
	 width:100px;
	 height:20px;
	 margin-right: 15px;
	 border-radius:3px;
}

#off{
	height:22px;
	width:100px;
	float: right;
	margin-top:-3px ;
	text-align: center;
	background-color:#4c6b22;
	color:#ffffff;
}
#listbutton{
	font-size: 18px;
	height:70px;
	width:230px;
	margin-right: 12px;
	color:#60b9ee;
	background-color:#24789d;
	border:0px;
	border-radius: 5px;
}
#footer1{
	width:970px;
	height: 100%;
	margin:auto;
}
