a{
	text-decoration:none;
	outline: none;
}

.header{
	width:100%;
	height:100px;
	background-color:#171a21;
}
.download{
	height:25px;
	width:180px;
	margin-left: 1400px;
	margin-top:5px ;
	/*字体设定*/
	text-align: center;
	font-size: small;
	color: #FFFFFF;
	line-height: 20px;
}
.topguide{
	margin-top: 10px;
	margin-left: 40px;
	float: left;
}
.main{
	height: 1580spx;
	width: 100%;
	background-image: url(background.png);
}
.maincontainer{
	width: 1440px;
	height:1300px;
	/*background-color: blue;*/
	margin: 0px auto;
}
.sidebar{
	width:15%;
	height: 1080px;
	margin-left: 0px;
	margin-top: 0px;
	float:left;
	/*background-color: #008000;*/
}
.center{
	width:70%;
	height:1300px;
	float: left;
}
.menu{
	margin:30px auto;
	height:40px;
	width:95%;
	background-color:#377197;
}

.shower{
	width:1024px;
	height:480px;
	line-height: 30px;
	/*background-color: #377197;*/
	margin:30px auto;
	font-size: 14px;
	color:#c6d4df;
}
.interest{
	width: 980px;
	height:400px;
	margin:100px auto auto 27px;
	color: #c6d4df;
}
.footer{
	width:100%;
	height:180px;
	background-color:#101821;
}
.interest1{
	width:315px;
	height:100%;
	float: left;
	margin-right:10px;
	margin-top:2px;
}
.interest img{
	width:100%;
}
.interest2{
	width:100%;
	height: 170px;
	border:2px solid #66c0f4;
	margin-bottom: 10px;
}
.list{
	width:100%;
	height: 320px;
	padding-top: 50px;
	padding-left: 27px;
	color:#c6d4df;
}
